.checkoutProduct {
  display: flex;
  margin: 2rem 0;

  &__image {
    object-fit: contain;
    width: 18rem;
    height: 18rem;
  }

  &__info {
    padding-left: 2rem;

    & > button {
      background: #f0c14b;
      border: 1px solid;
      margin-top: 1rem;
      border-color: #a88734 #9c7e31 #846a29;
      color: #111;
      background-color: none;
    }
  }

  &__price {
    font-size: 1.6rem;
  }

  &__rating {
    display: flex;
  }

  &__title {
    font-size: 1.7em;
    font-weight: 800;
  }
}
